In [1]:
import sys
sys.path.insert(0, '../../../') # To be able to reach 'Repos' folder
from pathlib import Path
import numpy as np
import pandas as pd

In [2]:
dataset_path = Path.cwd().parent.parent.parent / 'py4ML' / 'datasets' / 'dostoyevski'
book_names = []
[book_names.append(item) for item in dataset_path.iterdir() if item.suffix == '.txt']
text = []
print('Books:')
for book_name in book_names: file = open(book_name, 'r'); text.append(file.read()); file.close(); print(book_name.name)
print('\nEvolution of the text:')
text = ' '.join(text)
text = text.replace('\n', ' ')
def print_text(text): print(f'{text[:95]}')
print_text(text)
text = text.lower()
print_text(text)
for char in sorted(set(text)): text = text if char in 'abcdefghijklmnopqrstuvwxyz ' else text.replace(char, '')
print_text(text)
del dataset_path, book_names, book_name, file, char

Books:
The Brothers Karamazov.txt
The Idiot.txt
The Possessed.txt
Poor Folk.txt
Crime and Punishment.txt
Notes from the Underground.txt
White Nights and Other Stories.txt
Short Stories.txt
The House of the Dead.txt
The Gambler.txt

Evolution of the text:
The Brothers Karamazov  PART I     Book I. The History Of A Family     Chapter I. Fyodor Pavlov
the brothers karamazov  part i     book i. the history of a family     chapter i. fyodor pavlov
the brothers karamazov  part i     book i the history of a family     chapter i fyodor pavlovit

In [3]:
words = \
    """contentment, contentment, gregarious, gullible, pompous, ruthless, tactful, tactless, witty,
pot, dump, strip, hook, lay, pound, retain, strain, collar, rid, spite, clerk, prompt, boot, decent,
neat, resort, rip, sail, tale, attorney, carpenter, jeweller, mechanic, physician, undertaker,
affection, affectionate, aggravation, anguish, defeat, defiance, delight, dismay, wrath,
wonder, scorn, pity, malice, lust, longing, hostility, hatred, grief, greed, fury, layoff,
accolade, circumvent, dearth, ludicrous, mettle, morose, mundane, scrutinise, ignominious,
ignominy, incidental, indefatigable, ingratiate, inscrutable, irksome, irresolute, jibe,
obviate, obdurate, nettle, divulge, discursive, disconcert, diffident, timid, zealot, zenith,
edict, effete, accede, entreat, expatiate, fatuous, gibe, ensue, accord, alacrity, askance,
avarice, bane, banter, belie, bland, bucolic, bulwark, waive, vilify, vestige, turgid, stupendous,
simper, glib, renegade, redolent, rebuke, querulous, platitude, permeate, peremptory, credence,
corpulent, copious, construe, cogent, coalesce, circumspect, candid, callous, wander, venture,
tribe, treaty, trail, testimony, testify, summit, sue, subsequent, stroke, stare, snap, sigh,
shrug, settlement, seize, rifle, quarterback, prominent, portray, porch, pine, pile, patch, pant,
pan, pale, opponent, nod, literary, legislation, lawsuit, lawn, inquiry, incorporate, incentive,
grant, grain, gaze, flee, fade, dismiss, deputy, deficit, conviction, congressional, buck, barrel,
ally, alliance, aide, capricious, vigilant, pleading, endeavor, errand, appeal, appealing, frankly,
fame, glory, acclaim, plague, fierce, roar, utterly, wicked, chop, bishop, proclaim, benevolent,
excavation, reconcile, rumor, petrified, oblivion, indulge, debunk, prodigy, plunder, oblivious,
allegation, alibi, indecisive, vile, condone, raid, riot, smuggling, strangle, bribe, legitimate,
soar, plunge, recuperate, trunk, stagnant, hassle, sore, strand, deleterious, stunned,
devastate, thrill, overwhelm, bewildered, frustrated, grumpy, superstition, entitled, petition,
whine, lend, faint, charm, withhold, firm, prosecutor, delude, wig, bewitch, benign, adept,
expedite, snooze, discretion, smother, provision, commence, escalate, exclamation, amend, perpetual,
logistics, entitle, subsidiary, thereafter, demote, complimentary, predecessor, lurk, mischief,
prompt, dignity, stoop, incite, mustard, mighty, redemption, gloom, glooming, condemn, commodity,
hypocrite, fidelity, infidelity, loyalty, stubborn, arrogant, bold, nascent, alleviate, foster,
shatter, nasty, congruent, dire, congruence, incongruent, precarious, off-putting, instalment,
verdict, degrease, rust, inapt, customs, rip off, bowel, rattle, falcon, prologue, needy, enfold,
benevolence, bestow, bliss, blithe, blockbuster, bona fide, cushion, legume, stir, vague, waist,
dew, cot, groan, maid, hustle, tame, fondle, vicious, agony, farewell, sicken, hone, foreclose,
cynic, cynical, tender, ambivalence, embark, endeavour, arrogance, eager, ascribe, resentment,
palate, spacious, sage, nip, assert, assertion, vindication, tentatively, mesmerise, cloak, stew,
boar, pulp, neat, lump, set off, interest, flutter, cult, haze, Algeria, raven, morocco, omnipresent,
invoice, gravy, barley, leek, cling, thyme, lodge, otter, voucher, loan, oath, hitchhike, succeed,
successor, dandruff, jaw, grace, hospice, rhubarb, unabridged, nausea, rhino, mole, rash, vigorous,
clumsy, mercenary, pea, afflict, shiver, seizure, porridge, stink, taint, bust, muster, incense,
rinse, hoarding, salient, cease, sewerage, fin, rasp, usurer, socket, sow, porch, shed, stale,
corny, sobriety, mate, raisin, clerical, celeriac, shutter, valve, beetroot, lactating, laxative,
brisk, bloat, patio, kudos, haul, odour, fabric, seal, rig, grind, clench, roam, snarl, formidable,
solidarity, salvation, ditch, legacy, burrow, mastic, florist, parsley, wink, rod, fern, grease, grime,
rope, assertive, dispense, aggregate, hilarious, compassion, pour, remnant, hedgehog, comb, pole,
remittance, concierge, turmeric, council, cul de sac, rug, tipsy, daze, intriguing, pondering, perplex,
alleviate, setback, excel, gut, contentious, strive, virtually, chameleon, flattery, shortcoming, rein,
stamina, whimsical, lousy, impromptu, rigorous, enthusiastic, sluggish, utmost, retain, modest, blunt,
composure, quirk, reprimand, preach, humble, intimidated, vain, subtlety"""

In [4]:
studied = \
    """chore, deputy, resent, gooey, juggle, abduct, taser, rapport, chuckle, shiver,
facade, outlandish, slur, sergeant, rattle, allegedly, dazed, chilling, dispatcher,
accomplice, unwittingly, plead, perpetrator, culprit, oblivion, petrified, plunder,
prodigy, debunk, poke, indulge, salient, oblivious, embark, allegation, wander,
wonder, seize, appeal, sigh, alibi, sail, accord, lay, tear, lustful, stun gun, spite,
pale, nonchalant, clerk, interest, prosecutor, utterly, dignity, conviction, pole,
demeanour, grandiose, succumb, vindictive, retaliate, mould, snap, scoff, felony,
misdemeanour, timid, bleach, alleviate, vain, stutter, tranquil, compassion,
compassionate, vitality, conscience, vigor, contentment, discontent, prosperity,
prosperous, detach, defeat, grace, abundant, lack, aside, petty, affirmation,
relentless, condemn, promiscuous, furnace, lavish, arson"""

In [5]:
words = words.replace('\n', ' ')
words = words.split(', ')
df = pd.DataFrame({'word': words})
del words
df.head()

          word
0  contentment
1  contentment
2   gregarious
3     gullible
4      pompous

In [6]:
df = df.drop_duplicates()
df.head()

          word
0  contentment
2   gregarious
3     gullible
4      pompous
5     ruthless

In [7]:
df['freq'] = (' ' + df['word'] + ' ').apply(text.count) + (' ' + df['word'] + 's ').apply(text.count)
del text
df.head()

          word  freq
0  contentment     1
2   gregarious     0
3     gullible     0
4      pompous     7
5     ruthless     2

In [8]:
df = df.sort_values('freq', ascending=False, ignore_index=True)
df.head()

       word  freq
0     spite   417
1       lay   334
2      pale   304
3  interest   296
4     clerk   193

In [9]:
studied = studied.replace('\n', ' ')
studied = studied.split(', ')
df = df[~df['word'].isin(studied)]
df.head()

       word  freq
9      pity   149
12   hatred   138
13    grief   122
14  delight   122
15     boot   120

In [10]:
print(df['word'][:20])

9            pity
12         hatred
13          grief
14        delight
15           boot
16           fury
17           shed
18         utmost
19       literary
20          nasty
21        set off
22            rid
24         humble
25        anguish
26    exclamation
27       farewell
29          eager
30          faint
31           firm
32         tender
Name: word, dtype: object

/var/folders/l6/2q9c0f9127bd3ydvrgk19ncw0000gn/T/ipykernel_45850/202411849.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(df['word'][:20])

In [11]:
def is_it_in_my_list(word): return df['word'].eq(word).any()
def have_i_studied(word): return word in studied

In [12]:
print(f"{is_it_in_my_list('arson') = }")
print(f"{is_it_in_my_list('furnace') = }")
print(f"{have_i_studied('arson') = }")
print(f"{have_i_studied('furnace') = }")

is_it_in_my_list('arson') = False
is_it_in_my_list('furnace') = False
have_i_studied('arson') = True
have_i_studied('furnace') = True